.dog__section {
    padding: 50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(109, 106, 106);
}

.dog__container-card {
    background: #242424;
    box-shadow: 0 6px rgba(56, 125, 255, 0.2);
    width: 400px;
    height: 400px;
    text-decoration: none;
    border-radius: 4px;
}

.dog__container-card:nth-child(2) {
    
    background: #242424;
    margin: 0 24px;
}

.dog__container-card:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-out;
    color: #1c2237;
}

.dog__container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.dog__wrapper {
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
}

.dog__heading {
    color: #fff;
    margin-bottom: 24px;
    text-align: center;
  }

.dog__container-cardInfo {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 0px;
    align-items: center;
    color: #fff;
}

.dog__container-cardInfo h3 {
    margin-bottom: 5px;
    font-size: 30px;
}

@media screen and (max-width: 1050px) {
    .dog__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .dog__wrapper {
        margin: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dog__container-card {
        background: #242424;
        box-shadow: 0 6px rgba(56, 125, 255, 0.2);
        width: 300px;
        height: 300px;
        text-decoration: none;
        border-radius: 4px;
    }
    
    .dog__container-card:nth-child(2) {
        background: #242424;
        margin: 24px;
    }

    .dog__container-card:hover {
        transform: none;
    }

    .dog__container-cardInfo h3 {
        margin-bottom: 5px;
        font-size: 25px;
    }
    
}
@media screen and (max-width: 750px) {
    .dog__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    
}

